*{
    margin: 0;
}
.cont{
    background-color: rgb(7, 7, 7);
    height: 5300px;
    max-width: 1600px;
    margin: auto;
}
.header{
    background-color: #020100;
    height: 80px;
    top: 0;
    position: sticky;
}
.flex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
ul{
    display: flex;
    gap: 10px;
}
.l1{
    color: #F0F0F0;
    list-style: none;
    font-size: 17px;
    height: 30px;
    padding-top: 10px;
    width: 70px;
    padding-left: 25px;
}
.l1:hover{
    background-color: #282726;  
    cursor: pointer;
    border-radius: 5px;
}
.l2{
    color: #F0F0F0;
    list-style: none;
    font-size: 17px;
    height: 30px;
    padding-top: 10px;
    width: 90px;
    padding-left: 25px;
}
.l2:hover{
    background-color: #282726;  
    cursor: pointer;
    border-radius: 5px;
}
.l3{
    color: #F0F0F0;
    list-style: none;
    font-size: 17px;
    height: 30px;
    padding-top: 10px;
    width: 80px;
    padding-left: 25px;
}
.l3:hover{
    background-color: #282726;  
    cursor: pointer;
    border-radius: 5px;
}
.l4{
    color: #F0F0F0;
    list-style: none;
    font-size: 17px;
    height: 30px;
    padding-top: 10px;
    width: 80px;
    padding-left: 20px;
}
.l4:hover{
    background-color: #282726;  
    cursor: pointer;
    border-radius: 5px;
}
.l5{
    color: #F0F0F0;
    list-style: none;
    font-size: 17px;
    height: 30px;
    padding-top: 10px;
    width: 70px;
    padding-left: 25px;
}
.l5:hover{
    background-color: #282726;  
    cursor: pointer;
    border-radius: 5px;
}
.btn1{
    color: #F0F0F0;
    background-color: black;
    border: none;
    font-size: 17px;
    width: 120px;
    cursor: pointer;
    height: 42px;
}
.btn1:hover{
    border-radius: 5px;
    background-color: #282726;
}
.sec1{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.a1{
    color: white;
    font-weight: 700;
    font-size: 80px;
    width: 520px;
    height: 146px;
}
.a2{
    color: #C0C0BF;
    width: 720px;
    margin-top: 105px;
    font-weight: 400;
    font-size: 20px;
    height: 90px;
}
.sec2{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 75px;
}
.img1{
    width: 950px;
    border-radius: 10px;
}
.img2{
    width: 400px;
    border-radius: 10px;
}
.sec3{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.a3{
    color: white;
    font-weight: 700;
    font-size: 80px;
    width: 400px;
    height: 146px;
}
.a4{
    color: #C0C0BF;
    width: 720px;
    margin-top: 35px;
    font-weight: 400;
    font-size: 20px;
    height: 90px;
}
.blok1{
    display: block;
}
.ceo{
    width: 720px;
    height: 350px;
    border: 2px solid #282726;
    margin-top: 20px;
    border-radius: 15px;
}
.flex2{
    display: flex;
    padding: 20px 20px;
}
.a5{
    color: #C0C0BF;
    font-weight: 700;
    font-size: 27px;
    margin-left: 40px;
    margin-right: 15px;
}
.img3{
    height: 125px;
}
.blok2{
    display: block;
}
.a6{
    color: #C0C0BF;
    font-weight: 700;
    font-size: 27px;
    margin-left: 40px;
    margin-right: 15px;
    margin-top: 60px;
}
.a7{
    color: #C0C0BF;
    width: 720px;
    font-weight: 400;
    font-size: 20px;    
    margin-top: 25px;
}
.blok3{
    display: block;
    margin-top: -25px;
}
.a8{
    color: white;
    font-weight: 700;
    font-size: 80px;
    width: 700px;
    height: 146px;
    margin-top: 30px;
    margin-left: 440px;
}
.a9{
    color: #C0C0BF;
    width: 720px;
    font-weight: 400;
    font-size: 20px;
    height: 90px;
    margin-top: -18px;
    margin-left: 400px;
    text-align: center;
}
.sec5{
    display: flex;
    gap: 10px;
    padding: 30px 100px;
}
.b1{
    border: 1px solid #282726;
    height: 100px;
    width: 400px;
    border-radius: 10px;
}
.a10{
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    font-size: 50px;
}
.a11{
    color: #C0C0BF;
    margin-left: 21px;
}
.sec6{
    display: flex;
    gap: 10px;
    padding-left: 100px;
}
.b2{
    border: 1px solid #282726;
    height: 100px;
    width: 435px;
    border-radius: 10px;
}
.a12{
    color: white;
    font-weight: 700;
    font-size: 80px;
    width: 800px;
    height: 146px;
    margin-top: 30px;
    margin-left: 400px;
}
.flex3{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.c1{
    border: 1px solid #282726;
    width: 450px;
    height: 550px;
    border-radius: 20px;
}
.img4{
    width: 400px;
    margin-top: 25px;
    margin-left: 25px;
}
.a13{
    color: white;
    font-size: 30px;
    margin-left: 25px;
    margin-top: 15px;
}
.a14{
    color: #B7B7B7;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 25px;
    font-size: 22px;
}
.flex4{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.sec7{
    background-color: #FF5200;
    width: 1405px;
    height: 400px;
    margin-left: 52px;
    margin-top: 50px;
    border-radius: 16px;
}
.in1{
    margin-bottom: 100px;
}
.in2{
    margin-left: 815px;
    margin-top: 77px;
}
.a15{
    margin-top: -340px;
    font-size: 70px;
    margin-left: 300px;
    font-weight: 900;
    color: white;
}
.btn2{
    background-color: #161514;
    color: #F0F0F0;
    width: 180px;
    height: 50px;
    margin-top: 20px;
    margin-left: 600px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}
.btn2:hover{
    color: #161514;
    background-color: #F0F0F0;
}
.lastsec{
    margin-top: 125px;
    display: flex;
}
.img5{
    margin-left: 200px;
}
.img6{
    height: 100px;
    margin-left: 50px;
}
.in3{
    display: none;
}
.img8{
    display: none;
}
.aa{
    text-decoration: none;
}
.lb10{
    display: block;
    margin-left: 40px;
}
.in10{
    background-color: #020100;
    border: 1px solid #282726;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border-radius: 8px;
}
.img5{
    margin-right: 40px;
}
@media(max-width: 500px){
    .cont{
        height: 10300px;
    }
  ul{
    display: none;
  }
  .btn1{
    display: none;
  }
  .in3{
    display: block;
  }
  .sec1{
    display: block;
    margin-left: 20px;
  }
  .a1{
    color: white;
    font-weight: 700;
    font-size: 65px;
    width: 480px;
    height: 146px;
}
  .a2{
    color: #C0C0BF;
    width: 400px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    height: 90px;
}
.sec2{
    display: block;
    margin-top: 70px;
    margin-left: 15px;
}
.img1{
    width: 468px;
    border-radius: 10px;
}
.img2{
    margin-top: 10px;
    width: 468px;
    border-radius: 10px;
    height: 470px;
}
.sec3{
    display: block;
    margin-top: 50px;
}
.a3{
    color: white;
    font-weight: 700;
    font-size: 55px;
    width: 480px;
    margin-left: 15px;
}
.a4{
    color: #C0C0BF;
    width: 450px;
    margin-top: -30px;
    font-weight: 400;
    font-size: 20px;
    height: 90px;
    margin-left: 15px;
    margin-bottom: 70px;
    margin-top: 10px;
}
.blok1{
    display: block;
}
.ceo{
    width: 430px;
    height: 600px;
    border: 2px solid #282726;
    margin-top: 20px;
    border-radius: 15px;
    margin-bottom: 70px;
    margin-left: 15px;
}
.flex2{
    display: block;
    padding: 20px 20px;
}
.a5{
    color: #C0C0BF;
    font-weight: 700;
    font-size: 27px;
    margin-left: 10px;
    margin-right: 15px;
}
.img3{
    height: 125px;
    margin-bottom: 20px;
}
.blok2{
    display: block;
}
.a6{
    color: #C0C0BF;
    font-weight: 700;
    font-size: 27px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 60px;
}
.a7{
    color: #C0C0BF;
    width: 450px;
    font-weight: 400;
    font-size: 20px;    
    margin-top: 25px;
    margin-left: 15px;
}
.a8{
    margin-left: 15px;
    font-size: 60px;
    width: 450px;
    text-align: center;
}
.a9{
    margin-left: 15px;
    width: 450px;
    margin-top: 15px;
}
.sec5{
    display: block;
    margin-left: -50px;
    margin-top: 25px;
}
.b1{
    margin-top: 25px;
}
.sec6{
    display: block;
    margin-left: -50px;
}
.b2{
    width: 400px;
    margin-top: 25px;
}
.a12{
    margin-left: 15px;
    font-size: 50px;
    width: 450px;
    text-align: center;

}
.flex2{
    display: block;
}
.flex3{
    display: block;
}
.flex4{
    display: block;
}
.c1{
    margin-left: 20px;
    margin-top: 20px;
}
.sec7{
    margin-left: 15px;
    width: 465px;
}
.in2{
    display: none;
}
.img7{
    display: none;
}
.a15{
    text-align: center;
    margin-left: 10px;
    font-size: 45px;
}
.btn2{
    margin-left: 150px;
    margin-top: 20px;
}
.img5{
    display: none;
}
.lastsec{
    display: block;
}
.img8{
    margin-left: 50px;
    display: block;
}
.lb10{
    display: block;
    margin-left: 25px;
}
.in10{
    width: 350px;
    margin-bottom: 10px;
}
}